body {
    /* background-color: rgb(228, 218, 223);
    background-image: url('backgroundholi.jpg'); */
    background-image: url('color-bomb.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  h1 {
    color: blue;
  }
  h2 {
    color: rgb(242, 75, 9);
  }
  h3 {
    color: rgb(231, 108, 13);
  }
  h5 {
   
    color: rgb(231, 13, 17);
  }
  h4 {
    color: rgb(18, 18, 18);
  }
  p {
    color: red;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
