body {
    background-color: rgb(228, 218, 223);
  }
  h1 {
    color: blue;
  }
  h2 {
    color: palevioletred;
  }
  h3 {
    color: rgb(231, 108, 13);
  }
  p {
    color: red;
  }
